body {
  background-color: lightyellow;
  text-align: center;
  font-family: cursive;
}

div {
  border: 5px solid pink;
  padding: 40px; /* Increased padding for more space */
  margin: 50px;
  background-color: white; /* Makes the card stand out from the background */
}

h1 {
  color: deepskyblue;
}
